body {
    /* background-color: #ECB390; */
    background-image: url("../../public/assets/images/zoo-background.jpg");
    background-size: cover; 
     height:100vh;
}

.card-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card-body {
    text-align: center;
    background-color: #F5EEDC;
}

.button {
    background-color: #44b144;
    border-color: #C0D8C0;
}